@model ViverBem.Application.ViewModels.ClienteViewModel


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>

<form asp-action="IncluirDependente">
<div class="modal-body">
    <div class="form-horizontal">
        <vc:summary />
        @Html.Partial("_Dependente")

        <div class="modal-footer">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar Dependente" class="btn btn-success" />
                <input type="submit" class="btn btn-info" value="Fechar" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>
</form>