@model ErrorViewModel
@{
    ViewData["Title"] = "Ocorreu um erro!";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<h2 class="text-danger">Ocorreu um erro, tente novamente ou contate o administrador do sistema.</h2>

