@using ViverBem.Application.ViewModels

@{
    ViewData["Title"] = "Importar Propostas";
}


<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-sm-12">
        <section>
            <form asp-action="ImportaPropostas" method="post" enctype="multipart/form-data">
                <hr />

                <vc:summary />

                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <input type="file" class="form-control-file" name="importExcel" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Importar" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info">Voltar para a lista</a>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/bootstrap-datepicker.pt-BR.min.js"></script>
    <script src="~/js/bootstrap-datepicker.pt.min.js"></script>

    <script>
        ValidacoesEvento();
        AjaxModal();
    </script>
    @{
        if (ViewBag.RetornoPost != null)
        {
            var notificacao = ViewBag.RetornoPost.ToString().Split(',');

            <script>
                toastr.options = {
                    "closebutton": false,
                    "debug": true,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": true,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
                toastr["@notificacao[0]"("@notificacao[1]");
            </script>
        }
    }
}
